$cor-primaria: #131313;
$cor-secundaria: #0079a8;
$cor-terciaria: #dfdfdf;
$cor-destaque: #00b7ff;

$fonte-principal: 'Roboto', sans-serif;

$fonte-size1: 1.5rem;
$fonte-size2: 1.25rem;
$fonte-size3: 1rem;
$fonte-size4: 0.8rem;
