.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);

    .login-box {
        background-color: white;
        width: 400px;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .passLogo {
            width: 70px;
            height: 70px;
            fill: $cor-terciaria;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input {
                width: 100%;
                padding: 0.75rem;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 1rem;
                transition: border-color 0.3s ease;
            
                &:focus {
                    outline: none;
                    border-color: $cor-secundaria;
                }

                &::placeholder {
                    color: #dbdbdb;
                }
            }

            button {
                width: 100%;
                padding: 0.75rem;
                border: none;
                border-radius: 5px;
                background-color: $cor-secundaria;
                color: #fff;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: color-mix(in srgb, $cor-secundaria 70%, black 30%);
                }
            }
        }
    }
}
